<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBl3Rkg0qZeIFlmT6b3wonjzZNf2ENFsXg"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 10,
            center: new google.maps.LatLng(37.490000, -120.000000)
        });

        var marker_icon_FF0000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACBklEQVRIia3VzUtUURgH4GdG/AiyZZShtWgXUbSIFtGqRYtqWRLhXyBYf0K6MaJQ2gRtayHtijYpleHKSCgIcRHoIiOSKEzLKea0OOeqTfPlzPzg5Qwz9zz3nXPvPTeneo7gNA4gjyI+Ygbva8z9L2cxi9BHOE+4msY+gliz6biayWE0R7GfMEcoEkJJzRH6CbnY+WiaVxEc6yY8KQOVq8eE7tj1WCV4qIswUyeY1QyhK8JDpWAP1m7vEMzqTkTXkrOZkYOEQoNogXAowiPE2wQuDqC9nktZJu0YSE72XRs2phrsMqup2OkG2vLpRB19DXaZJc3vQHv294Um0e3z8yigsNQkmuYXUMie5/npJtE0fz55YLiXsNHELdUbV2B4+4n2Y/Vmg+itCK4m558MdhBe7hCcJnRGdLDS0ox3E17XCb4h7IngeLX1zuFhD2G5BriytY4Tqmx9WXbh3Tnl99KsLkdwAbtrgVmO4/eDCuCkzd3/TL1glru9hF8lYJFwMoKPdgrCXqzfL0GfR7CIo42gcO9YCXopolONgnAC4W0Cv9l8dVxpBoWFGwmdiOC6Glc8X+3HlKeT6cOzOLzAjyaaBBc602ZzOHZ6vVkQ9kl7Qi6ip1qBwpdrEfwjPnFVU8+awuKrOC7hZ6vQlQ9baM3Ui379HsfVVqKf07jcSvRTGhfrOfgvIP3ECS77BDoAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(37.740000, -121.220000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.250000, -121.080000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.530000, -121.080000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.950000, -121.080000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.390000, -120.870000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.740000, -120.870000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.020000, -120.800000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.230000, -120.800000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.040000, -120.730000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.670000, -120.730000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.180000, -120.590000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.370000, -120.590000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.530000, -120.520000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.760000, -120.450000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.090000, -120.450000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.880000, -120.380000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.690000, -120.310000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.460000, -120.310000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.440000, -120.310000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.090000, -120.240000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.970000, -120.170000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.110000, -120.170000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.810000, -120.170000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.970000, -119.960000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.390000, -119.960000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.230000, -119.960000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.760000, -119.890000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.550000, -119.820000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.250000, -119.820000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.530000, -119.820000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.600000, -119.820000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.900000, -119.610000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.040000, -119.610000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.320000, -119.610000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.550000, -119.540000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.690000, -119.540000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.370000, -119.400000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.690000, -119.330000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.900000, -119.190000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.110000, -119.190000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.880000, -119.050000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.670000, -118.980000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.900000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.970000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.040000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.110000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.180000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.250000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.320000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.390000, -118.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        var marker_icon_008000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACSElEQVRIia3VO2gUURTG8d/uGiUBSRALH0XAF8EQLQQfGLuAYGFpI1ppkcpCEOxEC8FGsIlYCGonNgoWATUgiiaKGJMQjUayiIkvjMFowrrJWMysruvsI5v9muGee77/zL1zzr0JpdWKdqxFEvN4jwcYKuP9Tx3oQ6BRYJPAlujZKEAQzXfEmRMx47MSTmiVsBurYrIm8BBDAoFzOBm9CKQKgOctc9wBCXuwPAYoim/GagmvtZvThO446DFLnHII6+IWFaOVaMaAneZNojf3dbAGr+3VYFeFwHw9Qref2IjxZBTu1KTB9iqAsB1NGtBJWCaw31b/bsZClMLWiBNBU2jRXCUwp9DfglQSdViqcZHQ0L8UdcnSmdUpiQwyvi2SFPozyOT6eVh6kdDQP4z53PJv6cdclcA59Eccf0uqy5Rpj6uE9mLKNLr4W5nT+C5tn2Y0LQCYxk3MO457+VDoE1hh2A7rhYdGOU3gGn65gNO5cGEPdZuz0Yg2bVhWAvgTV/DDdRzJn4o72OrRa4M2B4tkwA0MGsE24fb9UVzxz+CwN7IGigDfYhAcLQQWg8JzXHQX2YKZAHf/fOv9OHOpNj1jyowXBdExvBfI+zELgX7CVX0F0acIS6fY5pSEwiUf8DEazeIVuFzKVA76DCNeRqNRZM2I2rFaKNw2mgelR8wfXyi0x7jw0BgDd8oZKoE+kcU7TCK8O2uiz3YKhFVbXy650utkLDqE08KOqwn0S7T0iu6HSqFfzYLvtYTmyn+8ltCJ6DlWSfJvIeeYne8ZJ7UAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(36.825873, -119.698942),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.808673, -119.794027),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.316589, -120.505128),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.664601, -121.026568),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.100253, -121.012070),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.360511, -119.644104),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.506623, -120.859254),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.566656, -119.610080),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.766768, -119.718483),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.754510, -120.382750),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.611942, -119.485147),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.732853, -119.787603),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.055397, -120.835200),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.836683, -119.879938),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.839448, -120.229199),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.649900, -118.985167),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.782618, -121.229317),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.028021, -120.388951),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.742116, -119.599509),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.758140, -119.827012),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.474551, -121.162293),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.848595, -119.795305),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(37.796209, -121.197746),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.886837, -119.799100),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.961370, -120.063148),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.74, -121.22000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.25, -121.08000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.53, -121.08000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.95, -121.08000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.39, -120.87000000000005),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.74, -120.87000000000005),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.02, -120.80000000000005),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.230000000000004, -120.80000000000005),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.04, -120.73000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.67, -120.73000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.18, -120.59000000000007),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.370000000000005, -120.59000000000007),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.53, -120.52000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.76, -120.45000000000009),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.09, -120.45000000000009),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.88, -120.3800000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.69, -120.3100000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.46, -120.3100000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.440000000000005, -120.3100000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.09, -120.24000000000011),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.97, -120.17000000000012),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.11, -120.17000000000012),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.81, -120.17000000000012),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.97, -119.96000000000014),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.39, -119.96000000000014),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.230000000000004, -119.96000000000014),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.76, -119.89000000000014),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.55, -119.82000000000015),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.25, -119.82000000000015),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.53, -119.82000000000015),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.6, -119.82000000000015),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.9, -119.61000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.04, -119.61000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.32, -119.61000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.55, -119.54000000000018),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.69, -119.54000000000018),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.370000000000005, -119.40000000000019),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.69, -119.3300000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.9, -119.19000000000021),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.11, -119.19000000000021),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.88, -119.05000000000022),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.67, -118.98000000000023),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.9, -118.91000000000024),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.97, -118.91000000000024),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.04, -118.91000000000024),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.11, -118.91000000000024),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.18, -118.91000000000024),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.25, -118.91000000000024),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.32, -118.91000000000024),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(37.39, -118.91000000000024),
            radius: 16093.444978925634
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
