<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBl3Rkg0qZeIFlmT6b3wonjzZNf2ENFsXg"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 10,
            center: new google.maps.LatLng(35.250000, -120.620000)
        });

        var marker_icon_FF0000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACBklEQVRIia3VzUtUURgH4GdG/AiyZZShtWgXUbSIFtGqRYtqWRLhXyBYf0K6MaJQ2gRtayHtijYpleHKSCgIcRHoIiOSKEzLKea0OOeqTfPlzPzg5Qwz9zz3nXPvPTeneo7gNA4gjyI+Ygbva8z9L2cxi9BHOE+4msY+gliz6biayWE0R7GfMEcoEkJJzRH6CbnY+WiaVxEc6yY8KQOVq8eE7tj1WCV4qIswUyeY1QyhK8JDpWAP1m7vEMzqTkTXkrOZkYOEQoNogXAowiPE2wQuDqC9nktZJu0YSE72XRs2phrsMqup2OkG2vLpRB19DXaZJc3vQHv294Um0e3z8yigsNQkmuYXUMie5/npJtE0fz55YLiXsNHELdUbV2B4+4n2Y/Vmg+itCK4m558MdhBe7hCcJnRGdLDS0ox3E17XCb4h7IngeLX1zuFhD2G5BriytY4Tqmx9WXbh3Tnl99KsLkdwAbtrgVmO4/eDCuCkzd3/TL1glru9hF8lYJFwMoKPdgrCXqzfL0GfR7CIo42gcO9YCXopolONgnAC4W0Cv9l8dVxpBoWFGwmdiOC6Glc8X+3HlKeT6cOzOLzAjyaaBBc602ZzOHZ6vVkQ9kl7Qi6ip1qBwpdrEfwjPnFVU8+awuKrOC7hZ6vQlQ9baM3Ui379HsfVVqKf07jcSvRTGhfrOfgvIP3ECS77BDoAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(35.610000, -121.100000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.960000, -121.100000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.100000, -120.960000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.610000, -120.890000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.400000, -120.820000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.190000, -120.750000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.400000, -120.750000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.750000, -120.750000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.960000, -120.750000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.910000, -120.540000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.050000, -120.540000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.700000, -120.400000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.910000, -120.400000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.400000, -120.330000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.540000, -120.330000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.560000, -120.260000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.170000, -120.260000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.560000, -120.120000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.680000, -119.980000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.960000, -119.980000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.490000, -119.910000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.840000, -119.840000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.170000, -119.630000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.420000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.490000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.560000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.630000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.700000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.770000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.840000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.910000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.980000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.050000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.190000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.750000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.820000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.890000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.960000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.030000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.100000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.170000, -119.560000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.420000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.490000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.560000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.630000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.700000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.770000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.840000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.910000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.540000, -119.490000),
            icon: marker_icon_FF0000,
            map: map
        });

        var marker_icon_008000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACSElEQVRIia3VO2gUURTG8d/uGiUBSRALH0XAF8EQLQQfGLuAYGFpI1ppkcpCEOxEC8FGsIlYCGonNgoWATUgiiaKGJMQjUayiIkvjMFowrrJWMysruvsI5v9muGee77/zL1zzr0JpdWKdqxFEvN4jwcYKuP9Tx3oQ6BRYJPAlujZKEAQzXfEmRMx47MSTmiVsBurYrIm8BBDAoFzOBm9CKQKgOctc9wBCXuwPAYoim/GagmvtZvThO446DFLnHII6+IWFaOVaMaAneZNojf3dbAGr+3VYFeFwHw9Qref2IjxZBTu1KTB9iqAsB1NGtBJWCaw31b/bsZClMLWiBNBU2jRXCUwp9DfglQSdViqcZHQ0L8UdcnSmdUpiQwyvi2SFPozyOT6eVh6kdDQP4z53PJv6cdclcA59Eccf0uqy5Rpj6uE9mLKNLr4W5nT+C5tn2Y0LQCYxk3MO457+VDoE1hh2A7rhYdGOU3gGn65gNO5cGEPdZuz0Yg2bVhWAvgTV/DDdRzJn4o72OrRa4M2B4tkwA0MGsE24fb9UVzxz+CwN7IGigDfYhAcLQQWg8JzXHQX2YKZAHf/fOv9OHOpNj1jyowXBdExvBfI+zELgX7CVX0F0acIS6fY5pSEwiUf8DEazeIVuFzKVA76DCNeRqNRZM2I2rFaKNw2mgelR8wfXyi0x7jw0BgDd8oZKoE+kcU7TCK8O2uiz3YKhFVbXy650utkLDqE08KOqwn0S7T0iu6HSqFfzYLvtYTmyn+8ltCJ6DlWSfJvIeeYne8ZJ7UAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(35.257573, -120.673002),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.417867, -119.848021),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.289056, -120.650683),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.941239, -120.420411),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.439989, -119.753686),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.606071, -120.093694),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.139454, -120.643195),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.578439, -121.115586),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.645073, -120.671406),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.573155, -120.735182),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.636418, -120.859674),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.400105, -119.397796),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.207090, -120.100810),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.488613, -120.669712),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.253519, -120.240461),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.989180, -119.960130),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.122126, -120.588927),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.575524, -120.690230),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(34.595312, -120.137981),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(35.244593, -120.643260),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(36.205360, -121.132932),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.61000000000001, -121.10000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.96000000000001, -121.10000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.10000000000001, -120.96000000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.61000000000001, -120.89000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.400000000000006, -120.82000000000004),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.190000000000005, -120.75000000000004),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.400000000000006, -120.75000000000004),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.75000000000001, -120.75000000000004),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.96000000000001, -120.75000000000004),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.910000000000004, -120.54000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.050000000000004, -120.54000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.7, -120.40000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.910000000000004, -120.40000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.400000000000006, -120.33000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.540000000000006, -120.33000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.56, -120.26000000000009),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.17000000000001, -120.26000000000009),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.56, -120.1200000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.68000000000001, -119.98000000000012),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.96000000000001, -119.98000000000012),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.49, -119.91000000000012),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.84, -119.84000000000013),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.17000000000001, -119.63000000000015),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.42, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.49, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.56, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.63, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.7, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.77, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.84, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.910000000000004, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.980000000000004, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.050000000000004, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.190000000000005, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.75000000000001, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.82000000000001, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.89000000000001, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.96000000000001, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.03000000000001, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.10000000000001, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(36.17000000000001, -119.56000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.42, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.49, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.56, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.63, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.7, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.77, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.84, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(34.910000000000004, -119.49000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(35.540000000000006, -119.49000000000017),
            radius: 16093.444978925634
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
