<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBl3Rkg0qZeIFlmT6b3wonjzZNf2ENFsXg"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 10,
            center: new google.maps.LatLng(39.600000, -120.650000)
        });

        var marker_icon_FF0000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACBklEQVRIia3VzUtUURgH4GdG/AiyZZShtWgXUbSIFtGqRYtqWRLhXyBYf0K6MaJQ2gRtayHtijYpleHKSCgIcRHoIiOSKEzLKea0OOeqTfPlzPzg5Qwz9zz3nXPvPTeneo7gNA4gjyI+Ygbva8z9L2cxi9BHOE+4msY+gliz6biayWE0R7GfMEcoEkJJzRH6CbnY+WiaVxEc6yY8KQOVq8eE7tj1WCV4qIswUyeY1QyhK8JDpWAP1m7vEMzqTkTXkrOZkYOEQoNogXAowiPE2wQuDqC9nktZJu0YSE72XRs2phrsMqup2OkG2vLpRB19DXaZJc3vQHv294Um0e3z8yigsNQkmuYXUMie5/npJtE0fz55YLiXsNHELdUbV2B4+4n2Y/Vmg+itCK4m558MdhBe7hCcJnRGdLDS0ox3E17XCb4h7IngeLX1zuFhD2G5BriytY4Tqmx9WXbh3Tnl99KsLkdwAbtrgVmO4/eDCuCkzd3/TL1glru9hF8lYJFwMoKPdgrCXqzfL0GfR7CIo42gcO9YCXopolONgnAC4W0Cv9l8dVxpBoWFGwmdiOC6Glc8X+3HlKeT6cOzOLzAjyaaBBc602ZzOHZ6vVkQ9kl7Qi6ip1qBwpdrEfwjPnFVU8+awuKrOC7hZ6vQlQ9baM3Ui379HsfVVqKf07jcSvRTGhfrOfgvIP3ECS77BDoAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(39.640000, -121.880000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.360000, -121.810000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.080000, -121.740000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.780000, -121.740000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.940000, -121.670000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.080000, -121.670000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.920000, -121.670000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.270000, -121.670000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.150000, -121.600000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.430000, -121.530000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.870000, -121.390000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.660000, -121.320000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.080000, -121.320000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.220000, -121.320000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.570000, -121.320000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.940000, -121.250000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.010000, -121.250000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.290000, -121.250000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.730000, -121.180000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.940000, -121.180000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.660000, -121.110000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.340000, -121.110000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.010000, -121.040000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.290000, -121.040000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.800000, -120.970000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.010000, -120.970000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.220000, -120.970000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.870000, -120.900000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.500000, -120.900000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.990000, -120.900000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.060000, -120.900000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.220000, -120.830000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.660000, -120.690000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.710000, -120.550000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.480000, -120.480000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.730000, -120.410000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.270000, -120.340000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.220000, -120.270000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.940000, -120.200000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.220000, -120.200000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.360000, -120.200000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.640000, -120.130000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.800000, -119.990000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.270000, -119.990000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.340000, -119.990000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.410000, -119.990000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.480000, -119.990000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.550000, -119.990000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.520000, -119.920000),
            icon: marker_icon_FF0000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.080000, -119.920000),
            icon: marker_icon_FF0000,
            map: map
        });

        var marker_icon_008000 = {
            url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAiCAYAAACwaJKDAAAABmJLR0QA/wD/AP+gvaeTAAACSElEQVRIia3VO2gUURTG8d/uGiUBSRALH0XAF8EQLQQfGLuAYGFpI1ppkcpCEOxEC8FGsIlYCGonNgoWATUgiiaKGJMQjUayiIkvjMFowrrJWMysruvsI5v9muGee77/zL1zzr0JpdWKdqxFEvN4jwcYKuP9Tx3oQ6BRYJPAlujZKEAQzXfEmRMx47MSTmiVsBurYrIm8BBDAoFzOBm9CKQKgOctc9wBCXuwPAYoim/GagmvtZvThO446DFLnHII6+IWFaOVaMaAneZNojf3dbAGr+3VYFeFwHw9Qref2IjxZBTu1KTB9iqAsB1NGtBJWCaw31b/bsZClMLWiBNBU2jRXCUwp9DfglQSdViqcZHQ0L8UdcnSmdUpiQwyvi2SFPozyOT6eVh6kdDQP4z53PJv6cdclcA59Eccf0uqy5Rpj6uE9mLKNLr4W5nT+C5tn2Y0LQCYxk3MO457+VDoE1hh2A7rhYdGOU3gGn65gNO5cGEPdZuz0Yg2bVhWAvgTV/DDdRzJn4o72OrRa4M2B4tkwA0MGsE24fb9UVzxz+CwN7IGigDfYhAcLQQWg8JzXHQX2YKZAHf/fOv9OHOpNj1jyowXBdExvBfI+zELgX7CVX0F0acIS6fY5pSEwiUf8DEazeIVuFzKVA76DCNeRqNRZM2I2rFaKNw2mgelR8wfXyi0x7jw0BgDd8oZKoE+kcU7TCK8O2uiz3YKhFVbXy650utkLDqE08KOqwn0S7T0iu6HSqFfzYLvtYTmyn+8ltCJ6DlWSfJvIeeYne8ZJ7UAAAAASUVORK5CYII=",
            labelOrigin: new google.maps.Point(10, 11)
        };

        new google.maps.Marker({
            position: new google.maps.LatLng(38.677896, -121.310150),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.730282, -120.788050),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.725247, -120.834660),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.653420, -121.065149),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.941249, -121.105480),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.644160, -121.187513),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.750018, -121.265236),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.100635, -120.952980),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.797142, -121.312340),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.324006, -120.169783),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.166653, -120.148230),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.905643, -121.073683),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.575179, -120.726170),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.726617, -121.802832),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.694947, -120.908402),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.933046, -119.971569),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.840902, -121.315225),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.644110, -121.135040),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(38.798412, -121.212295),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.325103, -120.222137),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.234953, -121.053881),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(40.406695, -120.632266),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.276121, -120.120219),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.308641, -120.545315),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.143870, -121.585696),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Marker({
            position: new google.maps.LatLng(39.727660, -121.840340),
            icon: marker_icon_008000,
            map: map
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.64000000000001, -121.88000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.36000000000001, -121.81000000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.080000000000005, -121.74000000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.78000000000001, -121.74000000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.940000000000005, -121.67000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.080000000000005, -121.67000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.92000000000001, -121.67000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.27000000000001, -121.67000000000003),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.150000000000006, -121.60000000000004),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.43000000000001, -121.53000000000004),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.870000000000005, -121.39000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.660000000000004, -121.32000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.080000000000005, -121.32000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.220000000000006, -121.32000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.57000000000001, -121.32000000000006),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.940000000000005, -121.25000000000007),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.010000000000005, -121.25000000000007),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.290000000000006, -121.25000000000007),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.730000000000004, -121.18000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.940000000000005, -121.18000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.660000000000004, -121.11000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.34000000000001, -121.11000000000008),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.010000000000005, -121.04000000000009),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.290000000000006, -121.04000000000009),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.800000000000004, -120.9700000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.010000000000005, -120.9700000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.220000000000006, -120.9700000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.870000000000005, -120.9000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.50000000000001, -120.9000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.99000000000001, -120.9000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.06000000000001, -120.9000000000001),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.220000000000006, -120.83000000000011),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.660000000000004, -120.69000000000013),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.71000000000001, -120.55000000000014),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.48000000000001, -120.48000000000015),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.730000000000004, -120.41000000000015),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.27000000000001, -120.34000000000016),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.220000000000006, -120.27000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.940000000000005, -120.20000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.220000000000006, -120.20000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.36000000000001, -120.20000000000017),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.64000000000001, -120.13000000000018),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.800000000000004, -119.9900000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.27000000000001, -119.9900000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.34000000000001, -119.9900000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.41000000000001, -119.9900000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.48000000000001, -119.9900000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(40.55000000000001, -119.9900000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(38.52, -119.9200000000002),
            radius: 16093.444978925634
        });

        new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 1,
            fillColor: '#FF0000',
            fillOpacity: 0.3,
            map: map,
            center: new google.maps.LatLng(39.080000000000005, -119.9200000000002),
            radius: 16093.444978925634
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
